body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{

    background: #1b1b32;
    padding: 2rem;
min-width: 600px;
    color: #fff;
}
form div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
form div label{
   font-size: 1.3rem;
}
form div input{
   font-size: 1.3rem;
   padding: .5rem;
}

textarea{
    width: 100%;
}